/* screen - imac-7 */

.imac-7 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 855px;
  width: 1280px;
}

.imac-7 .overlap-group {
  height: 115px;
  position: relative;
  width: 1280px;
}

.imac-7 .header {
  align-items: center;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--alto);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 24px;
  height: 115px;
  left: 0;
  padding: 32px;
  position: absolute;
  top: 0;
  width: 1280px;
}

.imac-7 .navigation-pill-1 {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.imac-7 .navigation-pill {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.imac-7 .title {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-7 .title-1 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-7 .title-2 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-7 .header-auth {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: 178px;
}

.imac-7 .button {
  align-items: center;
  background-color: #5a5a5a;
  border: 1px solid;
  border-color: var(--sonic-silver);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.imac-7 .button-1 {
  color: #f2f2f2;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-7 .button-3 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-7 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 114px;
  height: 740px;
  justify-content: flex-end;
  min-width: 1280px;
  padding: 26px 34.5px;
}

.imac-7 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 522px;
  width: 710px;
}

.imac-7 .title-3 {
  height: 91px;
  letter-spacing: 0.10px;
  line-height: 20px;
  margin-left: 1px;
  width: 302px;
}

.imac-7 .i-am-a-designer-ill {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 419px;
  letter-spacing: 0.10px;
  line-height: 20px;
  width: 710px;
}

.imac-7 .x3-1 {
  height: 522px;
  margin-top: 1px;
  object-fit: cover;
  width: 351px;
}
