/* screen - imac-14 */

.imac-14 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4447px;
  width: 1280px;
}

.imac-14 .overlap-group2 {
  height: 115px;
  position: relative;
  width: 1280px;
}

.imac-14 .header {
  align-items: center;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--alto);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 24px;
  height: 115px;
  left: 0;
  padding: 32px;
  position: absolute;
  top: 0;
  width: 1280px;
}

.imac-14 .navigation-pill {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.imac-14 .title {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #000000ed;
  white-space: nowrap;
  width: fit-content;
}

.imac-14 .navigation-pill-1 {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.imac-14 .header-auth {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 12px;
  position: relative;
  width: 178px;
}

.imac-14 .button {
  align-items: center;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--sonic-silver);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.imac-14 .button-1 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-14 .button-3 {
  color: var(--eerie-black);
  cursor: pointer;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-14 .overlap-group {
  height: 1205px;
  position: relative;
  width: 1280px;
}

.imac-14 .place {
  height: 91px;
  left: 72px;
  letter-spacing: 0.10px;
  line-height: 20px;
  position: absolute;
  top: 73px;
  width: 302px;
}

.imac-14 .label-1 {
  color: var(--eerie-black-2);
  font-weight: 600;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.imac-14 .label {
  color: var(--gravel);
  font-weight: 500;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.imac-14 .x5 {
  height: 506px;
  left: 193px;
  object-fit: cover;
  position: absolute;
  top: 165px;
  width: 900px;
}

.imac-14 .x7 {
  height: 506px;
  left: 190px;
  object-fit: cover;
  position: absolute;
  top: 699px;
  width: 900px;
}

.imac-14 .x8 {
  height: 506px;
  margin-left: 5.56px;
  margin-top: 27px;
  object-fit: cover;
  width: 900px;
}

.imac-14 .overlap-group1 {
  height: 985px;
  margin-right: 0.44px;
  margin-top: 27px;
  position: relative;
  width: 900px;
}

.imac-14 .x9 {
  height: 506px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 900px;
}

.imac-14 .x10 {
  height: 506px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 479px;
  width: 900px;
}

.imac-14 .imac-14-item {
  height: 506px;
  margin-right: 0.44px;
  object-fit: cover;
  width: 900px;
}

.imac-14 .x13 {
  height: 506px;
  margin-right: 0.44px;
  margin-top: 27px;
  object-fit: cover;
  width: 900px;
}

.imac-14 .title-3 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
