/* screen - imac-11 */

.imac-11 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4420px;
  width: 1280px;
}

.imac-11 .overlap-group3 {
  height: 115px;
  position: relative;
  width: 1280px;
}

.imac-11 .header {
  align-items: center;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--alto);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 24px;
  height: 115px;
  left: 0;
  padding: 32px;
  position: absolute;
  top: 0;
  width: 1280px;
}

.imac-11 .navigation-pill-1 {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.imac-11 .navigation-pill {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.imac-11 .title {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #000000ed;
  white-space: nowrap;
  width: fit-content;
}

.imac-11 .title-1 {
  color: var(--eerie-black);
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.imac-11 .title-2 {
  color: var(--eerie-black);
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.imac-11 .header-auth {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 12px;
  position: relative;
  width: 178px;
}

.imac-11 .button {
  align-items: center;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--sonic-silver);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.imac-11 .button-1 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-11 .button-3 {
  color: var(--eerie-black);
  cursor: pointer;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.imac-11 .overlap-group2 {
  height: 1205px;
  position: relative;
  width: 1280px;
}

.imac-11 .the-flow-of-life {
  height: 91px;
  left: 72px;
  letter-spacing: 0.10px;
  line-height: 20px;
  position: absolute;
  top: 73px;
  width: 302px;
}

.imac-11 .frame-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 506px;
  left: 192px;
  position: absolute;
  top: 165px;
  width: 901px;
}

.imac-11 .cover-1 {
  height: 600px;
  margin-top: -94px;
  object-fit: cover;
  width: 900px;
}

.imac-11 .frame-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 506px;
  left: 192px;
  position: absolute;
  top: 699px;
  width: 900px;
}

.imac-11 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/moodboard-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 506px;
  min-width: 900px;
  padding: 59px 58px;
}

.imac-11 .title-3 {
  color: var(--black);
  font-family: var(--font-family-kotta_one);
  font-size: var(--font-size-xxxl);
  letter-spacing: 0;
  line-height: normal;
  min-height: 79px;
}

.imac-11 .label {
  color: var(--eerie-black-2);
  font-weight: 600;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.imac-11 .label-2 {
  cursor: pointer;
}

.imac-11 .frame-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 506px;
  margin-left: 3.56px;
  margin-top: 27px;
  padding: 27.6px 27.1px;
  width: 900px;
}

.imac-11 .skin-texture-research {
  color: var(--black);
  font-family: var(--font-family-kotta_one);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 37px;
  white-space: nowrap;
}

.imac-11 .project-contact-sheet-container {
  align-self: center;
  height: 409px;
  margin-right: 1.7px;
  position: relative;
  width: 780px;
}

.imac-11 .project-4-contact-sheet-001-1 {
  height: 409px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.imac-11 .project-4-contact-sheet-002-1 {
  height: 409px;
  left: 390px;
  position: absolute;
  top: 0;
  width: 390px;
}

.imac-11 .frame-4 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 506px;
  margin-left: 1.22px;
  padding: 28.6px 26.6px;
  width: 899px;
}

.imac-11 .group-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 17px;
  margin-left: 0.18px;
  margin-top: 37px;
  min-width: 845px;
}

.imac-11 .vein-font {
  height: 343px;
  object-fit: cover;
  width: 270px;
}

.imac-11 .typeface-sketching-and-processing {
  color: var(--black);
  font-family: var(--font-family-kotta_one);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 37px;
  min-width: 468px;
  white-space: nowrap;
}

.imac-11 .frame-container {
  height: 2024px;
  margin-left: 10.0px;
  position: relative;
  width: 910px;
}

.imac-11 .frame-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 37px;
  height: 506px;
  left: 0;
  padding: 27.7px 27.2px;
  position: absolute;
  top: 0;
  width: 900px;
}

.imac-11 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 66px;
  min-height: 395px;
  width: 461px;
}

.imac-11 .research-and-illustration-on-scars {
  letter-spacing: 0;
  line-height: normal;
  min-height: 37px;
  white-space: nowrap;
}

.imac-11 .project-6-final-print_6-1 {
  height: 292px;
  object-fit: cover;
  width: 430px;
}

.imac-11 .scar-sewing-1 {
  align-self: center;
  height: 348px;
  margin-top: 46.88px;
  object-fit: cover;
  width: 348px;
}

.imac-11 .frame-6 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 506px;
  left: 0;
  padding: 27.7px 27.2px;
  position: absolute;
  top: 506px;
  width: 900px;
}

.imac-11 .flex-col-1 {
  align-self: flex-start;
  gap: 28px;
  min-height: 450px;
  width: 269px;
}

.imac-11 .soft-scars {
  letter-spacing: 0;
  line-height: normal;
  min-height: 37px;
  white-space: nowrap;
}

.imac-11 .project-6-final-print_5-1 {
  align-self: flex-end;
  height: 385px;
  object-fit: cover;
  width: 256px;
}

.imac-11 .project-final-print_-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 0.47px;
  margin-left: 63px;
  min-height: 385px;
  width: 200px;
}

.imac-11 .project-6-final-print_1 {
  height: 134px;
  object-fit: cover;
  width: 200px;
}

.imac-11 .project-6-final-print_3 {
  height: 225px;
  object-fit: cover;
  width: 150px;
}

.imac-11 .project-final-print_-container-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-bottom: 0.47px;
  margin-left: 12px;
  min-height: 385px;
  width: 289px;
}

.imac-11 .project-6-final-print_4 {
  height: 159px;
  margin-right: 0.48px;
  object-fit: cover;
  width: 238px;
}

.imac-11 .project-6-final-print_2 {
  height: 193px;
  object-fit: cover;
  width: 289px;
}

.imac-11 .frame-7 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 93px;
  height: 506px;
  left: 10px;
  padding: 14.1px 27.2px;
  position: absolute;
  top: 1012px;
  width: 900px;
}

.imac-11 .flex-col-2 {
  align-self: center;
  gap: 27px;
  margin-bottom: 1.87px;
  min-height: 449px;
  width: 361px;
}

.imac-11 .zine-develop {
  letter-spacing: 0;
  line-height: normal;
  min-height: 37px;
  white-space: nowrap;
}

.imac-11 .vz_p-container {
  align-self: flex-end;
  height: 385px;
  position: relative;
  width: 301px;
}

.imac-11 .vz_p1 {
  height: 298px;
  left: 113px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 188px;
}

.imac-11 .vz_p7 {
  height: 298px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 189px;
}

.imac-11 .vz_p-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-height: 477px;
  width: 290px;
}

.imac-11 .vz_p2 {
  height: 230px;
  object-fit: cover;
  width: 289px;
}

.imac-11 .vz_p3 {
  height: 230px;
  object-fit: cover;
  width: 290px;
}

.imac-11 .frame-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 506px;
  left: 0;
  padding: 28.1px 27.2px;
  position: absolute;
  top: 1518px;
  width: 900px;
}

.imac-11 .vz_p-container-2 {
  height: 385px;
  position: relative;
  width: 846px;
}

.imac-11 .vz_p4 {
  height: 288px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 362px;
}

.imac-11 .vz_p5 {
  height: 287px;
  left: 251px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 361px;
}

.imac-11 .vz_p6 {
  height: 288px;
  left: 484px;
  object-fit: cover;
  position: absolute;
  top: 97px;
  width: 362px;
}

.imac-11 .zine-develop-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 37px;
  white-space: nowrap;
}

.imac-11 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.imac-11 .title-4 {
  font-weight: 400;
  white-space: nowrap;
}
